html,
body{

margin:0;

overflow:hidden;

background:black;

}

#bg{

width:100vw;

height:100vh;

display:block;

}

#title{

position:absolute;

top:20px;

left:20px;

font-size:34px;

color:white;

font-family:Arial;

z-index:10;

}
